In [147]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import torch
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader
from torch import nn

In [148]:
df=pd.read_csv("weatherAUS.csv")
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [149]:
data=df.copy()

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [151]:
df.isnull().any()

Date             False
Location         False
MinTemp           True
MaxTemp           True
Rainfall          True
Evaporation       True
Sunshine          True
WindGustDir       True
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
RainTomorrow      True
dtype: bool

In [152]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [153]:
col=["MinTemp","MaxTemp","Rainfall","WindSpeed3pm","Humidity3pm","Temp3pm","RainToday","RainTomorrow"]

In [154]:
data=data[col]
data.head()

,MinTemp,MaxTemp,Rainfall,WindSpeed3pm,Humidity3pm,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,24.0,22.0,21.8,No,No
1,7.4,25.1,0.0,22.0,25.0,24.3,No,No
2,12.9,25.7,0.0,26.0,30.0,23.2,No,No
3,9.2,28.0,0.0,9.0,16.0,26.5,No,No
4,17.5,32.3,1.0,20.0,33.0,29.7,No,No

In [155]:
data.isnull().any()

MinTemp         True
MaxTemp         True
Rainfall        True
WindSpeed3pm    True
Humidity3pm     True
Temp3pm         True
RainToday       True
RainTomorrow    True
dtype: bool

In [156]:
data.isnull().sum()

MinTemp         1485
MaxTemp         1261
Rainfall        3261
WindSpeed3pm    3062
Humidity3pm     4507
Temp3pm         3609
RainToday       3261
RainTomorrow    3267
dtype: int64

In [157]:
data.dropna(inplace=True)
data

,MinTemp,MaxTemp,Rainfall,WindSpeed3pm,Humidity3pm,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,24.0,22.0,21.8,No,No
1,7.4,25.1,0.0,22.0,25.0,24.3,No,No
2,12.9,25.7,0.0,26.0,30.0,23.2,No,No
3,9.2,28.0,0.0,9.0,16.0,26.5,No,No
4,17.5,32.3,1.0,20.0,33.0,29.7,No,No
...,...,...,...,...,...,...,...,...
145454,3.5,21.8,0.0,13.0,27.0,20.9,No,No
145455,2.8,23.4,0.0,11.0,24.0,22.4,No,No
145456,3.6,25.3,0.0,9.0,21.0,24.5,No,No
145457,5.4,26.9,0.0,9.0,24.0,26.1,No,No
145458,7.8,27.0,0.0,7.0,24.0,26.0,No,No

In [158]:
data["RainToday"]=pd.factorize(data["RainToday"])[0]
data["RainTomorrow"]=pd.factorize(data["RainTomorrow"])[0]
data.head()

,MinTemp,MaxTemp,Rainfall,WindSpeed3pm,Humidity3pm,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,24.0,22.0,21.8,0,0
1,7.4,25.1,0.0,22.0,25.0,24.3,0,0
2,12.9,25.7,0.0,26.0,30.0,23.2,0,0
3,9.2,28.0,0.0,9.0,16.0,26.5,0,0
4,17.5,32.3,1.0,20.0,33.0,29.7,0,0

In [159]:
X=data.drop("RainTomorrow",axis=1)
y=data["RainTomorrow"]
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y,random_state=13)

In [160]:
X_train=torch.from_numpy(X_train.values).float()
X_test=torch.from_numpy(X_test.values).float()
y_train=torch.from_numpy(y_train.values).float()
y_test=torch.from_numpy(y_test.values).float()

In [161]:
train_data=TensorDataset(X_train,y_train)
test_data=TensorDataset(X_test,y_test)

In [162]:
train_dataloader=DataLoader(train_data,batch_size=64,shuffle=True)
test_dataloader=DataLoader(test_data,batch_size=64,shuffle=True)

In [163]:
class NeuralNetwork(nn.Module):
    def __init__(self):
        super(NeuralNetwork, self).__init__()
        self.model = nn.Sequential(
            nn.Linear(7, 10),
            nn.ReLU(),
            nn.Linear(10, 5),
            nn.ReLU(),
            nn.Linear(5, 1),
            nn.ReLU()
        )

    def forward(self, x):
           return self.model(x)

model = NeuralNetwork()
print(model)

NeuralNetwork(
  (model): Sequential(
    (0): Linear(in_features=7, out_features=10, bias=True)
    (1): ReLU()
    (2): Linear(in_features=10, out_features=5, bias=True)
    (3): ReLU()
    (4): Linear(in_features=5, out_features=1, bias=True)
    (5): ReLU()
  )
)

In [164]:
learning_rate=0.001
batch_size=64
epochs=6

In [165]:
loss_fn=nn.BCELoss()
optimizer=torch.optim.SGD(model.parameters(),learning_rate)

In [166]:
def train(dataloader, model, loss_fn, optimizer):
    size = len(dataloader.dataset)
    for batch, (X, y) in enumerate(dataloader):
        
        # Compute prediction error
        pred = model(X.float())
        y=y.unsqueeze(1).float()
        loss = loss_fn(pred, y)

        # Backpropagation
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        if batch % 100 == 0:
            loss, current = loss.item(), batch * len(X)
            print(f"loss: {loss:>7f}  [{current:>5d}/{size:>5d}]")

In [167]:
def test(dataloader, model,loss_fn):
    size = len(dataloader.dataset)
    test_loss, correct = 0, 0
    with torch.no_grad():
        for X, y in dataloader:
            pred = model(X.float())
            y=y.unsqueeze(1).float()
            test_loss += loss_fn(pred, y).item()
            correct += (pred.ge(0.5) == y).type(torch.float).sum().item()
    test_loss /= size
    correct /= size
    print(f"Test Error: \n Accuracy: {(100*correct):>0.1f}%, Avg loss: {test_loss:>8f} \n")

In [168]:
for t in range(epochs):
    print(f"Epoch {t+1}\n-------------------------------")
    train(train_dataloader, model, loss_fn, optimizer)
    test(test_dataloader, model,loss_fn)
print("Done!")

Epoch 1
-------------------------------
loss: 29.687500  [    0/102147]
loss: 31.250000  [ 6400/102147]
loss: 20.312500  [12800/102147]
loss: 18.750000  [19200/102147]
loss: 29.687500  [25600/102147]
loss: 25.000000  [32000/102147]
loss: 17.187500  [38400/102147]
loss: 26.562500  [44800/102147]
loss: 18.750000  [51200/102147]
loss: 21.875000  [57600/102147]
loss: 20.312500  [64000/102147]
loss: 21.875000  [70400/102147]
loss: 28.125000  [76800/102147]
loss: 26.562500  [83200/102147]
loss: 23.437500  [89600/102147]
loss: 20.312500  [96000/102147]
Test Error:
 Accuracy: 77.9%, Avg loss: 0.344576

Epoch 2
-------------------------------
loss: 17.187500  [    0/102147]
loss: 26.562500  [ 6400/102147]
loss: 21.875000  [12800/102147]
loss: 18.750000  [19200/102147]
loss: 18.750000  [25600/102147]
loss: 29.687500  [32000/102147]
loss: 25.000000  [38400/102147]
loss: 32.812500  [44800/102147]
loss: 26.562500  [51200/102147]
loss: 31.250000  [57600/102147]
loss: 15.625000  [64000/102147]
loss: 28.125000  [70400/102147]
loss: 18.750000  [76800/102147]
loss: 32.812500  [83200/102147]
loss: 23.437500  [89600/102147]
loss: 23.437500  [96000/102147]
Test Error:
 Accuracy: 77.9%, Avg loss: 0.344576

Epoch 3
-------------------------------
loss: 14.062500  [    0/102147]
loss: 25.000000  [ 6400/102147]
loss: 21.875000  [12800/102147]
loss: 29.687500  [19200/102147]
loss: 26.562500  [25600/102147]
loss: 29.687500  [32000/102147]
loss: 15.625000  [38400/102147]
loss: 26.562500  [44800/102147]
loss: 23.437500  [51200/102147]
loss: 23.437500  [57600/102147]
loss: 15.625000  [64000/102147]
loss: 17.187500  [70400/102147]
loss: 20.312500  [76800/102147]
loss: 21.875000  [83200/102147]
loss: 21.875000  [89600/102147]
loss: 23.437500  [96000/102147]
Test Error:
 Accuracy: 77.9%, Avg loss: 0.345999

Epoch 4
-------------------------------
loss: 23.437500  [    0/102147]
loss: 26.562500  [ 6400/102147]
loss: 26.562500  [12800/102147]
loss: 23.437500  [19200/102147]
loss: 25.000000  [25600/102147]
loss: 26.562500  [32000/102147]
loss: 29.687500  [38400/102147]
loss: 15.625000  [44800/102147]
loss: 21.875000  [51200/102147]
loss: 23.437500  [57600/102147]
loss: 21.875000  [64000/102147]
loss: 14.062500  [70400/102147]
loss: 28.125000  [76800/102147]
loss: 31.250000  [83200/102147]
loss: 28.125000  [89600/102147]
loss: 15.625000  [96000/102147]
Test Error:
 Accuracy: 77.9%, Avg loss: 0.345999

Epoch 5
-------------------------------
loss: 31.250000  [    0/102147]
loss: 25.000000  [ 6400/102147]
loss: 20.312500  [12800/102147]
loss: 18.750000  [19200/102147]
loss: 21.875000  [25600/102147]
loss: 28.125000  [32000/102147]
loss: 14.062500  [38400/102147]
loss: 21.875000  [44800/102147]
loss: 20.312500  [51200/102147]
loss: 18.750000  [57600/102147]
loss: 21.875000  [64000/102147]
loss: 32.812500  [70400/102147]
loss: 23.437500  [76800/102147]
loss: 15.625000  [83200/102147]
loss: 21.875000  [89600/102147]
loss: 29.687500  [96000/102147]
Test Error:
 Accuracy: 77.9%, Avg loss: 0.344576

Epoch 6
-------------------------------
loss: 23.437500  [    0/102147]
loss: 15.625000  [ 6400/102147]
loss: 21.875000  [12800/102147]
loss: 28.125000  [19200/102147]
loss: 23.437500  [25600/102147]
loss: 17.187500  [32000/102147]
loss: 25.000000  [38400/102147]
loss: 15.625000  [44800/102147]
loss: 21.875000  [51200/102147]
loss: 10.937500  [57600/102147]
loss: 25.000000  [64000/102147]
loss: 25.000000  [70400/102147]
loss: 17.187500  [76800/102147]
loss: 18.750000  [83200/102147]
loss: 18.750000  [89600/102147]
loss: 17.187500  [96000/102147]
Test Error:
 Accuracy: 77.9%, Avg loss: 0.345999

Done!